//覆盖原样式
.ant-table-body {
	margin: 0 !important;
}

.ant-table-tbody {
	tr {
		transition: none !important;
		color: #222;
	}
}

.az-report-row {
	&:hover {
		color: #fff;
		transition: none;
		a,
		span {
			color: #fff;
		}
	}
}

.ztree {
	em {
		color: #ff0033;
		font-style: normal;
		font-weight: normal;
	}
	b {
		color: #00ffff;
		font-style: normal;
		font-weight: normal;
	}
	i {
		color: #ffcc00;
		font-style: normal;
		font-weight: normal;
	}
}
