//覆盖原样式
.ant-table-body {
	margin: 0 !important;
}

.ant-table-tbody {
	tr {
		transition: none !important;
		color: #222;
	}
}

.az-report-row {
	&:hover {
		color: #fff;
		transition: none;
	}
}

.ztree {
	em {
		color: #f00;
		font-style: normal;
	}
}
